*{
  margin: 0;
  padding: 0;
}
.container{
  width: 90%;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
body {
  position: relative;
  height: 100%;
}
@mixin ani{
  padding: 15px 30px;
  background: #FF7A00;
  box-shadow: 0 4px 20px #FF7A00;
  border-radius: 25px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  transition: .4s;
  border: none;
}
.swiper {
  width: 740px;
  height: 430px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding-top: 80px;
  margin-left: 30px;
}

.swiper-slide img {
  display: block;
  width: 500px;
  height: 300px;
  object-fit: cover;
}
.swiper-button-next{
  color: #FF7A00;
  padding-top: 50px;
}
.swiper-button-prev{
  color: #FF7A00;
  padding-top: 50px;
}

@mixin mn{
  width: 286px;
  height: 115px;
  border: 3px solid #FF7A00;
  background: transparent;
  filter: drop-shadow(0px 4px 5px #FF7A00);
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #FFFFFF;

}

a{
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #FFFFFF;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: red;

  transition-duration: .25s;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;

  width: 300px;
  height: 100%;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: #FF891C;
  box-shadow: 1px 0 6px rgba(0, 0, 0, .2);

  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;

  color: #333;

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;

  transition-duration: .25s;
}

.menu__item:hover {
  background-color: #FFFFFF;
}
